<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.wlsms.dao.DataDao">
    <resultMap type="com.web.wlsms.entity.DataEntity" id="DataMap">
        <id property="id" column="ID" javaType="long"/>
        <result property="sxzfqName" column="sxzfq_name" javaType="String"/>
        <result property="sxplValue" column="sxpl_value" javaType="String"/>
        <result property="bpqplValue" column="bpqpl_value" javaType="String"/>
        <result property="zplValue" column="zpl_value" javaType="String"/>
        <result property="xxplValue" column="xxpl_value" javaType="String"/>
        <result property="systemName" column="system_name" javaType="String"/>
        <result property="tzslValue" column="tzsl_value" javaType="String"/>
        <result property="xxslValue" column="xxsl_value" javaType="String"/>
        <result property="tzfsName" column="tzfs_name" javaType="String"/>
        <result property="xdbmCode" column="xdbm_code" javaType="String"/>
        <result property="content" column="content" javaType="String"/>
        <result property="xzbValue" column="xzb_value" javaType="String"/>
        <result property="errorContent" column="error_content" javaType="String"/>
        <result property="remark" column="remark" javaType="String"/>
        <result property="cjTime" column="cjTime" javaType="String"/>
        <result property="wzlValue" column="wzl_value" javaType="String"/>
        <result property="otherUserCode" column="other_user_code" javaType="String"/>
        <result property="otherKxCode" column="other_kx_code" javaType="String"/>
        <result property="otherUserTitle" column="other_user_title" javaType="String"/>
        <result property="otherKxTitle" column="other_kx_title" javaType="String"/>
        <result property="qrxdValue" column="qrxd_value" javaType="String"/>
        <result property="qrxdContent" column="qrxd_content" javaType="String"/>
        <result property="zhsjContent" column="zhsj_content" javaType="String"/>
        <result property="passportRemark" column="passport_remark" javaType="String"/>
        <result property="mobileUnitValue" column="mobile_unit_value" javaType="String"/>
        <result property="dataValue" column="data_value" javaType="String"/>
        <result property="createTime" column="createTime" javaType="String"/>
        <result property="editTime" column="editTime" javaType="String"/>
        <result property="positionCode" column="position_code" javaType="String"/>
    </resultMap>

    <!-- 查询数据-->
    <select id="getDataList" resultMap="DataMap" parameterType="java.util.HashMap">
        SELECT id,
               sxzfq_name,
               sxpl_value,
               bpqpl_value,
               zpl_value,
               xxpl_value,
               system_name,
               tzsl_value,
               xxsl_value,
               tzfs_name,
               xdbm_code,
               content,
               xzb_value,
               error_content,
               remark,
               DATE_FORMAT(cj_time,'%Y-%m-%d %H:%i:%S') as cjTime,
               wzl_value,
               other_user_code,
               other_kx_code,
               other_user_title,
               other_kx_title,
               qrxd_value,
               qrxd_content,
               zhsj_content,
               passport_remark,
               mobile_unit_value,
               data_value,
               position_code,
               DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%S') as createTime ,
               DATE_FORMAT(edit_time,'%Y-%m-%d %H:%i:%S') as editTime
        FROM wlsms_data
        where DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%S') <![CDATA[ >= ]]>  DATE_FORMAT(#{startTime},'%Y-%m-%d %H:%i:%S')
        and DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%S') <![CDATA[ <= ]]> DATE_FORMAT(#{endTime},'%Y-%m-%d %H:%i:%S')
        order by id desc
    </select>

    <!-- 添加操作日志信息 -->
    <insert id="insertData" parameterType="com.web.wlsms.entity.DataEntity">
        INSERT INTO wlsms_data
            (sxzfq_name,
             sxpl_value,
             bpqpl_value,
             zpl_value,
             xxpl_value,
             system_name,
             tzsl_value,
             xxsl_value,
             tzfs_name,
             xdbm_code,
             content,
             xzb_value,
             error_content,
             remark,
             cj_time,
             wzl_value,
             other_user_code,
             other_kx_code,
             other_user_title,
             other_kx_title,
             qrxd_value,
             qrxd_content,
             zhsj_content,
             passport_remark,
             mobile_unit_value,
             create_time,
             edit_time,
             position_code,
             data_value)
             VALUES
            (
            #{sxzfqName},
            #{sxplValue},
            #{bpqplValue},
            #{zplValue},
            #{xxplValue},
            #{systemName},
            #{tzslValue},
            #{xxslValue},
            #{tzfsName},
            #{xdbmCode},
            #{content},
            #{xzbValue},
            #{errorContent},
            #{remark},
            #{cjTime},
            #{wzlValue},
            #{otherUserCode},
            #{otherKxCode},
            #{otherUserTitle},
            #{otherKxTitle},
            #{qrxdValue},
            #{qrxdContent},
            #{zhsjContent},
            #{passportRemark},
            #{mobileUnitValue},
            now(),
            now(),
            #{positionCode},
            #{dataValue}
        )
    </insert>

</mapper>