<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.wlsms.dao.DataDao">
    <resultMap type="com.web.wlsms.entity.DataEntity" id="DataMap">
        <id property="id" column="ID" javaType="long"/>
        <result property="sxzfqName" column="sxzfq_name" javaType="String"/>
        <result property="sxplValue" column="sxpl_value" javaType="String"/>
        <result property="bpqplValue" column="bpqpl_value" javaType="String"/>
        <result property="zplValue" column="zpl_value" javaType="String"/>
        <result property="xxplValue" column="xxpl_value" javaType="String"/>
        <result property="systemName" column="system_name" javaType="String"/>
        <result property="tzslValue" column="tzsl_value" javaType="String"/>
        <result property="xxslValue" column="xxsl_value" javaType="String"/>
        <result property="tzfsName" column="tzfs_name" javaType="String"/>
        <result property="xdbmCode" column="xdbm_code" javaType="String"/>
        <result property="content" column="content" javaType="String"/>
        <result property="xzbValue" column="xzb_value" javaType="String"/>
        <result property="errorContent" column="error_content" javaType="String"/>
        <result property="remark" column="remark" javaType="String"/>
        <result property="cjTime" column="cjTime" javaType="String"/>
        <result property="wzlValue" column="wzl_value" javaType="String"/>
        <result property="otherUserCode" column="other_user_code" javaType="String"/>
        <result property="otherKxCode" column="other_kx_code" javaType="String"/>
        <result property="otherUserTitle" column="other_user_title" javaType="String"/>
        <result property="otherKxTitle" column="other_kx_title" javaType="String"/>
        <result property="qrxdValue" column="qrxd_value" javaType="String"/>
        <result property="qrxdContent" column="qrxd_content" javaType="String"/>
        <result property="zhsjContent" column="zhsj_content" javaType="String"/>
        <result property="passportRemark" column="passport_remark" javaType="String"/>
        <result property="mobileUnitValue" column="mobile_unit_value" javaType="String"/>
        <result property="dataValue" column="data_value" javaType="String"/>
        <result property="createTime" column="createTime" javaType="String"/>
        <result property="editTime" column="editTime" javaType="String"/>
        <result property="positionCode" column="position_code" javaType="String"/>
        <result property="proCodeManual" column="pro_code_manual" javaType="String"/>
        <result property="proCodeMachine" column="pro_code_machine" javaType="String"/>
    </resultMap>

    <resultMap type="com.web.wlsms.entity.ManualDataModel" id="ManualDataMap">
        <id property="id" column="ID" javaType="long"/>
        <result property="sxzfqName" column="sxzfq_name" javaType="String"/>
        <result property="sxplValue" column="sxpl_value" javaType="String"/>
        <result property="bpqplValue" column="bpqpl_value" javaType="String"/>
        <result property="zplValue" column="zpl_value" javaType="String"/>
        <result property="xxplValue" column="xxpl_value" javaType="String"/>
        <result property="systemName" column="system_name" javaType="String"/>
        <result property="tzslValue" column="tzsl_value" javaType="String"/>
        <result property="xxslValue" column="xxsl_value" javaType="String"/>
        <result property="tzfsName" column="tzfs_name" javaType="String"/>
        <result property="xdbmCode" column="xdbm_code" javaType="String"/>
        <result property="xzbValue" column="xzb_value" javaType="String"/>
        <result property="cjTime" column="cjTime" javaType="String"/>
        <result property="wzlValue" column="wzl_value" javaType="String"/>
        <result property="positionCode" column="position_code" javaType="String"/>
        <result property="proCode" column="pro_code" javaType="String"/>
        <result property="state" column="state" javaType="String"/>
        <result property="userNo" column="user_no" javaType="String"/>
    </resultMap>


    <resultMap type="com.web.wlsms.entity.MachineDataModel" id="MachineDataMap">
        <id property="id" column="ID" javaType="long"/>
        <result property="wxName" column="wx_name" javaType="String"/>
        <result property="zplValue" column="zpl_value" javaType="String"/>
        <result property="dplValue" column="dpl_value" javaType="String"/>
        <result property="tkplValue" column="tkpl_value" javaType="String"/>
        <result property="xhType" column="xh_type" javaType="String"/>
        <result property="mslValue" column="msl_value" javaType="String"/>
        <result property="cjTime" column="cjTime" javaType="String"/>
        <result property="zzbValue" column="zzb_value" javaType="String"/>
        <result property="tzysName" column="tzys_name" javaType="String"/>
        <result property="positionCode" column="position_code" javaType="String"/>
        <result property="proCode" column="pro_code" javaType="String"/>
        <result property="state" column="state" javaType="String"/>
        <result property="userNo" column="user_no" javaType="String"/>
    </resultMap>

    <!-- 查询数据-->
    <select id="getDataList" resultMap="DataMap" parameterType="java.util.HashMap">
        SELECT id,
               sxzfq_name,
               sxpl_value,
               bpqpl_value,
               zpl_value,
               xxpl_value,
               system_name,
               tzsl_value,
               xxsl_value,
               tzfs_name,
               xdbm_code,
               content,
               xzb_value,
               error_content,
               remark,
               DATE_FORMAT(cj_time,'%Y-%m-%d %H:%i:%S') as cjTime,
               wzl_value,
               other_user_code,
               other_kx_code,
               other_user_title,
               other_kx_title,
               qrxd_value,
               qrxd_content,
               zhsj_content,
               passport_remark,
               mobile_unit_value,
               data_value,
               position_code,
               DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%S') as createTime ,
               DATE_FORMAT(edit_time,'%Y-%m-%d %H:%i:%S') as editTime,
               pro_code_machine,
               pro_code_manual
        FROM wlsms_data
        where 1=1
        <if test="queryBt != null and queryBt != ''">
            and (sxzfq_name like concat('%',#{queryBt},'%') or system_name like concat('%',#{queryBt},'%') )
        </if>
        <if test="startTime != null and startTime != ''">
            and DATE_FORMAT(cj_time,'%Y-%m-%d') <![CDATA[ >= ]]>  DATE_FORMAT(#{startTime},'%Y-%m-%d')
        </if>
        <if test="endTime != null and endTime != ''">
            and DATE_FORMAT(cj_time,'%Y-%m-%d') <![CDATA[ <= ]]> DATE_FORMAT(#{endTime},'%Y-%m-%d')
        </if>
        order by id desc
    </select>

    <!-- 添加操作日志信息 -->
    <insert id="insertData" parameterType="com.web.wlsms.entity.DataEntity">
        INSERT INTO wlsms_data
            (sxzfq_name,
             sxpl_value,
             bpqpl_value,
             zpl_value,
             xxpl_value,
             system_name,
             tzsl_value,
             xxsl_value,
             tzfs_name,
             xdbm_code,
             content,
             xzb_value,
             error_content,
             remark,
             cj_time,
             wzl_value,
             other_user_code,
             other_kx_code,
             other_user_title,
             other_kx_title,
             qrxd_value,
             qrxd_content,
             zhsj_content,
             passport_remark,
             mobile_unit_value,
             create_time,
             edit_time,
             position_code,
             data_value,
             pro_code_manual,
             pro_code_machine)
             VALUES
            (
            #{sxzfqName},
            #{sxplValue},
            #{bpqplValue},
            #{zplValue},
            #{xxplValue},
            #{systemName},
            #{tzslValue},
            #{xxslValue},
            #{tzfsName},
            #{xdbmCode},
            #{content},
            #{xzbValue},
            #{errorContent},
            #{remark},
            #{cjTime},
            #{wzlValue},
            #{otherUserCode},
            #{otherKxCode},
            #{otherUserTitle},
            #{otherKxTitle},
            #{qrxdValue},
            #{qrxdContent},
            #{zhsjContent},
            #{passportRemark},
            #{mobileUnitValue},
            now(),
            now(),
            #{positionCode},
            #{dataValue},
            #{proCodeManual},
            #{proCodeMachine}
        )
    </insert>


    <select id="getManualDataList" resultMap="ManualDataMap" parameterType="java.util.HashMap">
        SELECT id,
               sxzfq_name,
               sxpl_value,
               bpqpl_value,
               zpl_value,
               xxpl_value,
               system_name,
               tzsl_value,
               xxsl_value,
               tzfs_name,
               xdbm_code,
               xzb_value,
               DATE_FORMAT(cj_time,'%Y-%m-%d %H:%i:%S') as cjTime,
               wzl_value,
               position_code,
               pro_code,
               state,
               user_no
        FROM wlsms_manual_data
         where 1=1
        <if test="queryBt != null and queryBt != ''">
            and (sxzfq_name like concat('%',#{queryBt},'%') or system_name like concat('%',#{queryBt},'%') or pro_code like concat('%',#{queryBt},'%'))
        </if>
        <if test="startTime != null and startTime != ''">
         and DATE_FORMAT(cj_time,'%Y-%m-%d') <![CDATA[ >= ]]>  DATE_FORMAT(#{startTime},'%Y-%m-%d')
        </if>
        <if test="endTime != null and endTime != ''">
            and DATE_FORMAT(cj_time,'%Y-%m-%d') <![CDATA[ <= ]]> DATE_FORMAT(#{endTime},'%Y-%m-%d')
        </if>
        <if test="proCodeManual != null and proCodeManual != ''">
            and pro_code =  #{proCodeManual}
        </if>
        order by id desc
    </select>



    <select id="getMachineDataList" resultMap="MachineDataMap" parameterType="java.util.HashMap">
    SELECT
    id,
    wx_name,
    zpl_value,
    dpl_value,
    tkpl_value,
    xh_type,
    msl_value,
    DATE_FORMAT(cj_time,'%Y-%m-%d %H:%i:%S') as cjTime,
    zzb_value,
    tzys_name,
    position_code,
    pro_code,
    state,
    user_no
    FROM
    wlsms_machine_data
        where 1=1
        <if test="queryBt != null and queryBt != ''">
            and (wx_name like concat('%',#{queryBt},'%') or tzys_name like concat('%',#{queryBt},'%')  or pro_code like concat('%',#{queryBt},'%'))
        </if>
        <if test="startTime != null and startTime != ''">
            and DATE_FORMAT(cj_time,'%Y-%m-%d') <![CDATA[ >= ]]>  DATE_FORMAT(#{startTime},'%Y-%m-%d')
        </if>
        <if test="endTime != null and endTime != ''">
            and DATE_FORMAT(cj_time,'%Y-%m-%d') <![CDATA[ <= ]]> DATE_FORMAT(#{endTime},'%Y-%m-%d')
        </if>
        <if test="proCodeMachine != null and proCodeMachine != ''">
            and pro_code =  #{proCodeMachine}
        </if>
    order by id desc
    </select>


    <insert id="insertManualData" parameterType="java.util.List">
        INSERT INTO wlsms_manual_data (
        sxzfq_name,
        sxpl_value,
        bpqpl_value,
        zpl_value,
        xxpl_value,
        system_name,
        tzsl_value,
        xxsl_value,
        tzfs_name,
        xdbm_code,
        xzb_value,
        cj_time,
        wzl_value,
        position_code,
        pro_code,
        user_no,
        create_time,
        edit_time
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.sxzfqName},
            #{item.sxplValue},
            #{item.bpqplValue},
            #{item.zplValue},
            #{item.xxplValue},
            #{item.systemName},
            #{item.tzslValue},
            #{item.xxslValue},
            #{item.tzfsName},
            #{item.xdbmCode},
            #{item.xzbValue},
            #{item.cjTime},
            #{item.wzlValue},
            #{item.positionCode},
            #{item.proCode},
            #{item.userNo},
            now(),
            now()
            )
        </foreach>
    </insert>


    <insert id="insertMachineData" parameterType="java.util.List">
        INSERT INTO wlsms_machine_data (
        wx_name,
        zpl_value,
        dpl_value,
        tkpl_value,
        xh_type,
        msl_value,
        zzb_value,
        tzys_name,
        cj_time,
        position_code,
        pro_code,
        user_no,
        create_time,
        edit_time
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.wxName},
            #{item.zplValue},
            #{item.dplValue},
            #{item.tkplValue},
            #{item.xhType},
            #{item.mslValue},
            #{item.zzbValue},
            #{item.tzysName},
            #{item.cjTime},
            #{item.positionCode},
            #{item.proCode},
            #{item.userNo},
            now(),
            now()
            )
        </foreach>
    </insert>

   <!-- 未核对列表 start-->
    <!-- 未核对人工数据-->
    <select id="getManualDit" resultMap="ManualDataMap">
        SELECT
        pro_code,
        position_code,
        DATE_FORMAT(cj_time,'%Y-%m-%d %H:%i:%S') as cjTime
        FROM wlsms_manual_data
        where state = 0
        group by pro_code
        order by cj_time desc
    </select>


    <!-- 未核对机器数据-->
    <select id="getMachineDit" resultMap="MachineDataMap">
        SELECT
        pro_code,
        position_code,
        DATE_FORMAT(cj_time,'%Y-%m-%d %H:%i:%S') as cjTime
        FROM
        wlsms_machine_data
        where state = 0
        group by pro_code
        order by cj_time desc
    </select>

    <!-- 未核对列表 end-->

    <delete id="deleteManual">
        delete from wlsms_manual_data
        <where>
            id = #{id}
        </where>
    </delete>

    <delete id="deleteMachine">
        delete from wlsms_machine_data
        <where>
            id = #{id}
        </where>
    </delete>

    <!--查询用户数-->
    <select id="userCount" resultType="java.lang.Long">
     select count(*) as count from admin_user
    </select>
    <!--查询告警数-->
    <select id="alarmCount" resultType="java.lang.Long">
        select count(*) as count from wlsms_alarm_data
    </select>
    <!--查询角色数-->
    <select id="roleCount" resultType="java.lang.Long">
        select count(*) as count from admin_role
    </select>
    <!--查询底数-->
    <select id="wmdCount" resultType="java.lang.Long">
        select sum(count) from
            (select count(*)as count from wlsms_manual_data wmd
             union all
             select count(*) as count from wlsms_machine_data wmd2) as addAll
    </select>
    <!--查询任务数-->
    <select id="operationCount" resultType="java.lang.Long">
        select count(*) as count from admin_operation
    </select>

    <!--人工底数-->
    <select id="manualCount" resultType="java.lang.Long">
    select count(*)as count from wlsms_manual_data
    </select>
    <!--机器底数-->
    <select id="machineCount" resultType="java.lang.Long">
    select count(*) as count from wlsms_machine_data
    </select>
    <!--已校对-->
    <select id="dataCount" resultType="java.lang.Long">
        select count(*) as count from wlsms_data
    </select>

</mapper>