<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.wlsms.dao.MacAutoDao">
    <resultMap type="com.web.wlsms.entity.ManualModel" id="ManualMap">
        <id property="id" column="ID" javaType="long"/>
        <result property="sxzfqName" column="sxzfq_name" javaType="String"/>
        <result property="carPol" column="car_pol" javaType="String"/>
        <result property="sxplValue" column="sxpl_value" javaType="String"/>
        <result property="bpqplValue" column="bpqpl_value" javaType="String"/>
        <result property="zplValue" column="zpl_value" javaType="String"/>
        <result property="xxplValue" column="xxpl_value" javaType="String"/>
        <result property="systemName" column="system_name" javaType="String"/>
        <result property="tzslValue" column="tzsl_value" javaType="String"/>
        <result property="xxslValue" column="xxsl_value" javaType="String"/>
        <result property="tzfsName" column="tzfs_name" javaType="String"/>
        <result property="xdbmCode" column="xdbm_code" javaType="String"/>
        <result property="mlName" column="ml_name" javaType="String"/>
        <result property="xzbValue" column="xzb_value" javaType="String"/>
        <result property="flen" column="flen" javaType="String"/>
        <result property="remark" column="remark" javaType="String"/>
        <result property="buildDate" column="buildDate" javaType="String"/>
        <result property="positionCode" column="position_code" javaType="String"/>
        <result property="proCode" column="pro_code" javaType="String"/>
        <result property="userNo" column="user_no" javaType="String"/>
    </resultMap>

    <resultMap type="com.web.wlsms.entity.MachineModel" id="MachineMap">
        <id property="id" column="ID" javaType="long"/>
        <result property="wxName" column="wx_name" javaType="String"/>
        <result property="carPol" column="car_pol" javaType="String"/>
        <result property="dplValue" column="dpl_value" javaType="String"/>
        <result property="tkplValue" column="tkpl_value" javaType="String"/>
        <result property="xhType" column="xh_type" javaType="String"/>
        <result property="mslValue" column="msl_value" javaType="String"/>
        <result property="buildTime" column="buildTime" javaType="String"/>
        <result property="zzbValue" column="zzb_value" javaType="String"/>
        <result property="tzysName" column="tzys_name" javaType="String"/>
        <result property="bmType" column="bm_type" javaType="String"/>
        <result property="mlName" column="ml_name" javaType="String"/>
        <result property="muladdr" column="muladdr" javaType="String"/>
        <result property="others" column="others" javaType="String"/>
        <result property="exmlen" column="exmlen" javaType="String"/>
        <result property="fcycle" column="fcycle" javaType="String"/>
        <result property="flen" column="flen" javaType="String"/>
        <result property="cf" column="cf" javaType="String"/>
        <result property="rm" column="rm" javaType="String"/>
        <result property="sindex" column="sindex" javaType="String"/>
        <result property="userProperties" column="user_properties" javaType="String"/>
        <result property="appearTime" column="appear_time" javaType="String"/>
        <result property="positionCode" column="position_code" javaType="String"/>
        <result property="proCode" column="pro_code" javaType="String"/>
        <result property="userNo" column="user_no" javaType="String"/>
        <result property="buildType" column="build_type" javaType="String"/>
    </resultMap>

    <select id="getManualList" resultMap="ManualMap" parameterType="java.util.HashMap">
        SELECT id,
               sxzfq_name,
               car_pol,
               sxpl_value,
               bpqpl_value,
               zpl_value,
               xxpl_value,
               system_name,
               tzsl_value,
               xxsl_value,
               tzfs_name,
               xdbm_code,
               ml_name,
               xzb_value,
               flen,
               remark,
               DATE_FORMAT(build_date,'%Y-%m-%d') as buildDate,
               position_code,
               pro_code,
               user_no
        FROM wlsms_auto_manual
         where 1=1
        <if test="queryBt != null and queryBt != ''">
            and (sxzfq_name like concat('%',#{queryBt},'%') or system_name like concat('%',#{queryBt},'%') or pro_code like concat('%',#{queryBt},'%'))
        </if>
        <if test="startTime != null and startTime != ''">
         and DATE_FORMAT(build_date,'%Y-%m-%d') <![CDATA[ >= ]]>  DATE_FORMAT(#{startTime},'%Y-%m-%d')
        </if>
        <if test="endTime != null and endTime != ''">
            and DATE_FORMAT(build_date,'%Y-%m-%d') <![CDATA[ <= ]]> DATE_FORMAT(#{endTime},'%Y-%m-%d')
        </if>
        <if test="proCodeManual != null and proCodeManual != ''">
            and pro_code =  #{proCodeManual}
        </if>
        order by id desc
    </select>

    <select id="getMachineList" resultMap="MachineMap" parameterType="java.util.HashMap">
    SELECT
    id,
    wx_name,
    car_pol,
    dpl_value,
    tkpl_value,
    xh_type,
    msl_value,
    DATE_FORMAT(build_time,'%Y-%m-%d %H:%i:%S') as buildTime,
    zzb_value,
    tzys_name,
    bm_type,
    ml_name,
    muladdr,
    others,
    exmlen,
    fcycle,
    flen,
    cf,
    rm,
    sindex,
    user_properties,
    appear_time,
    position_code,
    pro_code,
    user_no,
    build_type
    FROM
    wlsms_auto_machine
        where 1=1
        <if test="queryBt != null and queryBt != ''">
            and (wx_name like concat('%',#{queryBt},'%') or tzys_name like concat('%',#{queryBt},'%')  or pro_code like concat('%',#{queryBt},'%'))
        </if>
        <if test="startTime != null and startTime != ''">
            and DATE_FORMAT(build_time,'%Y-%m-%d') <![CDATA[ >= ]]>  DATE_FORMAT(#{startTime},'%Y-%m-%d')
        </if>
        <if test="endTime != null and endTime != ''">
            and DATE_FORMAT(build_time,'%Y-%m-%d') <![CDATA[ <= ]]> DATE_FORMAT(#{endTime},'%Y-%m-%d')
        </if>
        <if test="proCodeMachine != null and proCodeMachine != ''">
            and pro_code =  #{proCodeMachine}
        </if>
    order by id desc
    </select>

    <insert id="saveManual" parameterType="com.web.wlsms.entity.ManualModel">
        INSERT INTO wlsms_auto_manual
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sxzfqName != null and sxzfqName != '' ">sxzfq_name,</if>
            <if test="carPol != null and carPol != '' ">car_pol,</if>
            <if test="bpqplValue != null and bpqplValue != '' ">bpqpl_value,</if>
            <if test="zplValue != null and zplValue != '' ">zpl_value,</if>
            <if test="xxplValue != null and xxplValue != '' ">xxpl_value,</if>
            <if test="systemName != null and systemName != '' ">system_name,</if>
            <if test="tzslValue != null and tzslValue != '' ">tzsl_value,</if>
            <if test="xxslValue != null and xxslValue != '' ">xxsl_value,</if>
            <if test="tzfsName != null and tzfsName != '' ">tzfs_name,</if>
            <if test="xdbmCode != null and xdbmCode != '' ">xdbm_code,</if>
            <if test="mlName != null and mlName != '' ">ml_name,</if>
            <if test="xzbValue != null and xzbValue != '' ">xzb_value,</if>
            <if test="flen != null and flen != '' ">flen,</if>
            <if test="remark != null and remark != '' ">remark,</if>
            <if test="buildDate != null and buildDate != '' ">build_date,</if>
            <if test="positionCode != null and positionCode != '' ">position_code,</if>
            <if test="proCode != null and proCode != '' ">pro_code,</if>
            <if test="userNo != null and userNo != '' ">user_no,</if>
            create_time,
            edit_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sxzfqName != null and sxzfqName != '' ">#{sxzfqName},</if>
            <if test="carPol != null and carPol != '' ">#{carPol},</if>
            <if test="bpqplValue != null and bpqplValue != '' ">#{bpqplValue},</if>
            <if test="zplValue != null and zplValue != '' ">#{zplValue},</if>
            <if test="xxplValue != null and xxplValue != '' ">#{xxplValue},</if>
            <if test="systemName != null and systemName != '' ">#{systemName},</if>
            <if test="tzslValue != null and tzslValue != '' ">#{tzslValue},</if>
            <if test="xxslValue != null and xxslValue != '' ">#{xxslValue},</if>
            <if test="tzfsName != null and tzfsName != '' ">#{tzfsName},</if>
            <if test="xdbmCode != null and xdbmCode != '' ">#{xdbmCode},</if>
            <if test="mlName != null and mlName != '' ">#{mlName},</if>
            <if test="xzbValue != null and xzbValue != '' ">#{xzbValue},</if>
            <if test="flen != null and flen != '' ">#{flen},</if>
            <if test="remark != null and remark != '' ">#{remark},</if>
            <if test="buildDate != null and buildDate != '' ">#{buildDate},</if>
            <if test="positionCode != null and positionCode != '' ">#{positionCode},</if>
            <if test="proCode != null and proCode != '' ">#{proCode},</if>
            <if test="userNo != null and userNo != '' ">#{userNo},</if>
            now(),
            now()
        </trim>
    </insert>

    <insert id="insertManual" parameterType="java.util.List">
        INSERT INTO wlsms_auto_manual
       (
        sxzfq_name,
        car_pol,
        bpqpl_value,
        zpl_value,
        xxpl_value,
        system_name,
        tzsl_value,
        xxsl_value,
        tzfs_name,
        xdbm_code,
        ml_name,
        xzb_value,
        flen,
        remark,
        build_date,
        position_code,
        pro_code,
        user_no,
        create_time,
        edit_time
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.sxzfqName},
            #{item.carPol},
            #{item.bpqplValue},
            #{item.zplValue},
            #{item.xxplValue},
            #{item.systemName},
            #{item.tzslValue},
            #{item.xxslValue},
            #{item.tzfsName},
            #{item.xdbmCode},
            #{item.mlName},
            #{item.xzbValue},
            #{item.flen},
            #{item.remark},
            #{item.buildDate},
            #{item.positionCode},
            #{item.proCode},
            #{item.userNo},
            now(),
            now()
            )
        </foreach>
    </insert>


    <insert id="saveMachine" parameterType="com.web.wlsms.entity.MachineModel">
        INSERT INTO wlsms_auto_machine
        (
            wx_name,
            car_pol,
            dpl_value,
            tkpl_value,
            xh_type,
            msl_value,
            zzb_value,
            tzys_name,
            bm_type,
            ml_name,
            muladdr,
            others,
            exmlen,
            fcycle,
            flen,
            cf,
            rm,
            sindex,
            user_properties,
            appear_time,
            build_time,
            position_code,
            pro_code,
            user_no,
            build_type,
            create_time,
            edit_time
        )
        VALUES
        (
            #{wxName},
            #{carPol},
            #{dplValue},
            #{tkplValue},
            #{xhType},
            #{mslValue},
            #{zzbValue},
            #{tzysName},
            #{bmType},
            #{mlName},
            #{muladdr},
            #{others},
            #{exmlen},
            #{fcycle},
            #{flen},
            #{cf},
            #{rm},
            #{sindex},
            #{userProperties},
            #{appearTime},
            #{buildTime},
            #{positionCode},
            #{proCode},
            #{userNo},
            #{buildType},
            now(),
            now()
        )
    </insert>

    <insert id="insertMachine" parameterType="java.util.List">
        INSERT INTO wlsms_auto_machine (
        wx_name,
        car_pol,
        dpl_value,
        tkpl_value,
        xh_type,
        msl_value,
        zzb_value,
        tzys_name,
        bm_type,
        ml_name,
        muladdr,
        others,
        exmlen,
        fcycle,
        flen,
        cf,
        rm,
        sindex,
        user_properties,
        appear_time,
        build_time,
        position_code,
        pro_code,
        user_no,
        build_type,
        create_time,
        edit_time
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.wxName},
            #{item.carPol},
            #{item.dplValue},
            #{item.tkplValue},
            #{item.xhType},
            #{item.mslValue},
            #{item.zzbValue},
            #{item.tzysName},
            #{item.bmType},
            #{item.mlName},
            #{item.muladdr},
            #{item.others},
            #{item.exmlen},
            #{item.fcycle},
            #{item.flen},
            #{item.cf},
            #{item.rm},
            #{item.sindex},
            #{item.userProperties},
            #{item.appearTime},
            #{item.buildTime},
            #{item.positionCode},
            #{item.proCode},
            #{item.userNo},
            #{item.buildType},
            now(),
            now()
            )
        </foreach>
    </insert>

    <update id="updateManual" parameterType="com.web.wlsms.entity.ManualModel">
        update wlsms_auto_manual
        <set>
            sxzfq_name = #{sxzfqName},
            car_pol = #{carPol},
            bpqpl_value = #{bpqplValue},
            zpl_value = #{zplValue},
            xxpl_value = #{xxplValue},
            system_name = #{systemName},
            tzsl_value = #{tzslValue},
            xxsl_value = #{xxslValue},
            tzfs_name = #{tzfsName},
            xdbm_code = #{xdbmCode},
            ml_name = #{mlName},
            xzb_value = #{xzbValue},
            flen = #{flen},
            remark = #{remark},
            edit_time = now()
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="deleteManual">
        delete from wlsms_auto_manual
        <where>
            id in
            <foreach collection="ids" item="id" open="(" separator="," close=")" >
                #{id}
            </foreach>
        </where>
    </delete>

    <delete id="deleteMachine">
        delete from wlsms_auto_machine
        <where>
            id in
            <foreach collection="ids" item="id" open="(" separator="," close=")" >
                #{id}
            </foreach>
        </where>
    </delete>

    <delete id="deleteAutoBuild">
        delete from wlsms_auto_build
        <where>
            id in
            <foreach collection="ids" item="id" open="(" separator="," close=")" >
                #{id}
            </foreach>
        </where>
    </delete>

    <delete id="deleteAutoData">
        delete from wlsms_auto_data
        <where>
            id in
            <foreach collection="ids" item="id" open="(" separator="," close=")" >
                #{id}
            </foreach>
        </where>
    </delete>

    <!-- 日分组人工比对数据 -->
    <select id="queryManualByDate" parameterType="java.util.HashMap" resultType="com.web.wlsms.entity.AutoBuildEntity">
        select
        DATE_FORMAT(build_date,'%Y-%m-%d') as buildDate,
        count(id) as count
        from wlsms_auto_manual
        where 1=1
        <if test="buildDate != null and buildDate != ''"> and DATE_FORMAT(build_date,'%Y-%m-%d') = DATE_FORMAT(#{buildDate},'%Y-%m-%d') </if>
        group by build_date
        order by build_date desc
    </select>

    <select id="queryMachineByDate" parameterType="java.util.HashMap" resultType="com.web.wlsms.entity.AutoBuildEntity">
        select
        DATE_FORMAT(build_time,'%Y-%m-%d %H:%i:%S') as buildTime,
        count(id) as count
        from wlsms_auto_machine
        where 1=1
        <if test="buildDate != null and buildDate != ''"> and DATE_FORMAT(build_time,'%Y-%m-%d') =  DATE_FORMAT(#{buildDate},'%Y-%m-%d') </if>
        group by build_time
        order by build_time desc
    </select>

    <!-- 查看比对标记表数据 -->
    <select id="queryAutoBuildList" parameterType="java.util.HashMap" resultType="com.web.wlsms.entity.AutoBuildEntity">
        select
            id,
            DATE_FORMAT(build_date,'%Y-%m-%d') as buildDate,
            DATE_FORMAT(build_time,'%Y-%m-%d %H:%i:%S') as buildTime,
            remark,
            DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%S') as createTime,
            DATE_FORMAT(edit_time,'%Y-%m-%d %H:%i:%S') as editTime
       from wlsms_auto_build
       where 1=1
        <if test="queryBt != null and queryBt != ''">
            and remark like concat('%',#{queryBt},'%')
        </if>
        <if test="buildDate != null and buildDate != ''"> and ( DATE_FORMAT(build_date,'%Y-%m-%d') = DATE_FORMAT(#{buildDate},'%Y-%m-%d') or DATE_FORMAT(build_time,'%Y-%m-%d') = DATE_FORMAT(#{buildDate},'%Y-%m-%d')) </if>
        order by editTime desc
    </select>

    <select id="getAutoDataList" parameterType="java.util.HashMap" resultType="com.web.wlsms.entity.AutoDataEntity">
        select
        id,
        xxpl_value as xxplValue,
        tkpl_value as tkplValue,
        xtd_value as xtdValue,
        system_name as systemName,
        xh_type as xhType,
        tzsl_value as tzslValue,
        msl_value as mslValue,
        tzd_value as tzdValue,
        tzfs_name as tzfsName,
        tzys_name as tzysName,
        xdbm_code as xdbmCode,
        bm_type as bmType,
        ml_name as mlName,
        xzb_value as xzbValue,
        zzb_value as zzbValue,
        user_no as userNo,
        DATE_FORMAT(build_date,'%Y-%m-%d') as buildDate,
        DATE_FORMAT(build_time,'%Y-%m-%d %H:%i:%S') as buildTime,
        DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%S') as createTime,
        DATE_FORMAT(edit_time,'%Y-%m-%d %H:%i:%S') as editTime
        from wlsms_auto_data
        where 1=1
        <if test="buildDate != null and buildDate != ''"> and DATE_FORMAT(build_date,'%Y-%m-%d') = DATE_FORMAT(#{buildDate},'%Y-%m-%d') </if>
        <if test="buildTime != null and buildTime != ''"> and DATE_FORMAT(build_time,'%Y-%m-%d %H:%i:%S') = DATE_FORMAT(#{buildTime},'%Y-%m-%d %H:%i:%S') </if>
        order by build_time desc
    </select>

    <select id="queryLimitDate" resultType="java.lang.String">
        select
        DATE_FORMAT(build_date,'%Y-%m-%d') as buildDate
        from wlsms_auto_manual
        where 1=1
        group by build_date
        order by build_date desc
        limit 0,1
    </select>

    <select id="getManualListByDate" parameterType="java.util.HashMap" resultMap="ManualMap">
        SELECT id,
               sxzfq_name,
               car_pol,
               bpqpl_value,
               zpl_value,
               xxpl_value,
               system_name,
               tzsl_value,
               xxsl_value,
               tzfs_name,
               xdbm_code,
               ml_name,
               xzb_value,
               DATE_FORMAT(build_date,'%Y-%m-%d') as buildDate,
               position_code,
               pro_code,
               user_no,
               flen,
               remark
        FROM wlsms_auto_manual
        where 1=1
        <if test="buildDate != null and buildDate != ''"> and DATE_FORMAT(build_date,'%Y-%m-%d') =  DATE_FORMAT(#{buildDate},'%Y-%m-%d') </if>
    </select>

    <select id="getMachineListByDate" parameterType="java.util.HashMap" resultMap="MachineMap">
        SELECT
        id,
        wx_name,
        car_pol,
        dpl_value,
        tkpl_value,
        xh_type,
        msl_value,
        DATE_FORMAT(build_time,'%Y-%m-%d %H:%i:%S') as buildTime,
        zzb_value,
        tzys_name,
        bm_type,
        ml_name,
        muladdr,
        others,
        exmlen,
        fcycle,
        flen,
        cf,
        rm,
        sindex,
        user_properties,
        appear_time,
        position_code,
        pro_code,
        user_no
        FROM
        wlsms_auto_machine
        where 1=1
        <if test="buildTime != null and buildTime != ''"> and DATE_FORMAT(build_time,'%Y-%m-%d %H:%i:%S') =  DATE_FORMAT(#{buildTime},'%Y-%m-%d %H:%i:%S') </if>
    </select>

<!--    <select id="getParamValue" resultType="String">-->
<!--        select param_value as paramValue from admin_parameters where param_type = '阀值'-->
<!--    </select>-->

    <select id="getParamValue" resultType="String">
        select param_value as paramValue from admin_parameters where id = #{id}
    </select>

    <select id="getAutoBuildCount" resultType="java.lang.Integer" parameterType="java.util.HashMap">

        select count(*) from wlsms_auto_build where DATE_FORMAT(build_date,'%Y-%m-%d') = DATE_FORMAT(#{buildDate},'%Y-%m-%d') and DATE_FORMAT(build_time,'%Y-%m-%d %H:%i:%S') =  DATE_FORMAT(#{buildTime},'%Y-%m-%d %H:%i:%S')
    </select>

    <update id="updateAutoBuild" parameterType="com.web.wlsms.entity.AutoBuildEntity">
        update wlsms_auto_build set edit_time = now() where DATE_FORMAT(build_date,'%Y-%m-%d') = DATE_FORMAT(#{buildDate},'%Y-%m-%d') and DATE_FORMAT(build_time,'%Y-%m-%d %H:%i:%S') =  DATE_FORMAT(#{buildTime},'%Y-%m-%d %H:%i:%S')
    </update>

    <insert id="insertAutoBuild" parameterType="com.web.wlsms.entity.AutoBuildEntity">
     insert into wlsms_auto_build (
          build_date,
          build_time,
          remark,
          create_time,
          edit_time
     )values (
              #{buildDate},
              #{buildTime},
              #{remark},
              now(),
              now()
         )
    </insert>

    <insert id="insertAutoDatas" parameterType="java.util.List">
        INSERT INTO wlsms_auto_data
        (
        xxpl_value,
        tkpl_value,
        xtd_value,
        system_name,
        xh_type,
        tzsl_value,
        msl_value,
        tzd_value,
        tzfs_name,
        tzys_name,
        xdbm_code,
        bm_type,
        ml_name,
        xzb_value,
        zzb_value,
        user_no,
        build_date,
        build_time,
        create_time,
        edit_time
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.xxplValue},
            #{item.tkplValue},
            #{item.xtdValue},
            #{item.systemName},
            #{item.xhType},
            #{item.tzslValue},
            #{item.mslValue},
            #{item.tzdValue},
            #{item.tzfsName},
            #{item.tzysName},
            #{item.xdbmCode},
            #{item.bmType},
            #{item.mlName},
            #{item.xzbValue},
            #{item.zzbValue},
            'admin',
            #{item.buildDate},
            #{item.buildTime},
            now(),
            now()
            )
        </foreach>
    </insert>

    <delete id="deleteAutoDateByThis" parameterType="java.util.HashMap">
        delete from wlsms_auto_data where  DATE_FORMAT(build_date,'%Y-%m-%d') = DATE_FORMAT(#{buildDate},'%Y-%m-%d') and DATE_FORMAT(build_time,'%Y-%m-%d %H:%i:%S') = DATE_FORMAT(#{buildTime},'%Y-%m-%d %H:%i:%S')
    </delete>

    <!-- 查看比对标记表数据根据id -->
    <select id="getAutoBuildById" parameterType="java.util.HashMap" resultType="com.web.wlsms.entity.AutoBuildEntity">
        select
        id,
        DATE_FORMAT(build_date,'%Y-%m-%d') as buildDate,
        DATE_FORMAT(build_time,'%Y-%m-%d %H:%i:%S') as buildTime,
        remark,
        DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%S') as createTime,
        DATE_FORMAT(edit_time,'%Y-%m-%d %H:%i:%S') as editTime
        from wlsms_auto_build
        where id = #{id}
    </select>

    <select id="queryMachineCountByInfo" parameterType="com.web.wlsms.entity.MachineModel" resultType="java.lang.Integer">
        SELECT
            count(1) as count
        FROM
            wlsms_auto_machine
        where
    wx_name = #{wxName} and
    car_pol = #{carPol} and
    dpl_value = #{dplValue} and
    tkpl_value = #{tkplValue} and
    xh_type = #{xhType} and
    msl_value = #{mslValue} and
    zzb_value = #{zzbValue} and
    tzys_name = #{tzysName} and
    bm_type = #{bmType} and
    ml_name = #{mlName} and
    muladdr = #{muladdr} and
    others = #{others} and
    exmlen = #{exmlen} and
    fcycle = #{fcycle} and
    flen = #{flen} and
    cf = #{cf} and
    rm = #{rm} and
    sindex = #{sindex} and
    user_properties = #{userProperties} and
    appear_time = #{appearTime} and
    build_type = #{buildType}
    </select>
</mapper>