<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.wlsms.dao.MacAutoDao">
    <resultMap type="com.web.wlsms.entity.ManualModel" id="ManualMap">
        <id property="id" column="ID" javaType="long"/>
        <result property="sxzfqName" column="sxzfq_name" javaType="String"/>
        <result property="sxplValue" column="sxpl_value" javaType="String"/>
        <result property="bpqplValue" column="bpqpl_value" javaType="String"/>
        <result property="zplValue" column="zpl_value" javaType="String"/>
        <result property="xxplValue" column="xxpl_value" javaType="String"/>
        <result property="systemName" column="system_name" javaType="String"/>
        <result property="tzslValue" column="tzsl_value" javaType="String"/>
        <result property="xxslValue" column="xxsl_value" javaType="String"/>
        <result property="tzfsName" column="tzfs_name" javaType="String"/>
        <result property="xdbmCode" column="xdbm_code" javaType="String"/>
        <result property="xzbValue" column="xzb_value" javaType="String"/>
        <result property="buildDate" column="buildDate" javaType="String"/>
        <result property="positionCode" column="position_code" javaType="String"/>
        <result property="proCode" column="pro_code" javaType="String"/>
        <result property="userNo" column="user_no" javaType="String"/>
    </resultMap>

    <resultMap type="com.web.wlsms.entity.MachineModel" id="MachineMap">
        <id property="id" column="ID" javaType="long"/>
        <result property="wxName" column="wx_name" javaType="String"/>
        <result property="zplValue" column="zpl_value" javaType="String"/>
        <result property="dplValue" column="dpl_value" javaType="String"/>
        <result property="tkplValue" column="tkpl_value" javaType="String"/>
        <result property="xhType" column="xh_type" javaType="String"/>
        <result property="mslValue" column="msl_value" javaType="String"/>
        <result property="buildTime" column="buildTime" javaType="String"/>
        <result property="zzbValue" column="zzb_value" javaType="String"/>
        <result property="tzysName" column="tzys_name" javaType="String"/>
        <result property="bmType" column="bm_type" javaType="String"/>
        <result property="mlName" column="ml_name" javaType="String"/>
        <result property="positionCode" column="position_code" javaType="String"/>
        <result property="proCode" column="pro_code" javaType="String"/>
        <result property="userNo" column="user_no" javaType="String"/>
    </resultMap>

    <select id="getManualList" resultMap="ManualMap" parameterType="java.util.HashMap">
        SELECT id,
               sxzfq_name,
               sxpl_value,
               bpqpl_value,
               zpl_value,
               xxpl_value,
               system_name,
               tzsl_value,
               xxsl_value,
               tzfs_name,
               xdbm_code,
               xzb_value,
               DATE_FORMAT(build_date,'%Y-%m-%d') as buildDate,
               position_code,
               pro_code,
               user_no
        FROM wlsms_auto_manual
         where 1=1
        <if test="queryBt != null and queryBt != ''">
            and (sxzfq_name like concat('%',#{queryBt},'%') or system_name like concat('%',#{queryBt},'%') or pro_code like concat('%',#{queryBt},'%'))
        </if>
        <if test="startTime != null and startTime != ''">
         and DATE_FORMAT(build_date,'%Y-%m-%d') <![CDATA[ >= ]]>  DATE_FORMAT(#{startTime},'%Y-%m-%d')
        </if>
        <if test="endTime != null and endTime != ''">
            and DATE_FORMAT(build_date,'%Y-%m-%d') <![CDATA[ <= ]]> DATE_FORMAT(#{endTime},'%Y-%m-%d')
        </if>
        <if test="proCodeManual != null and proCodeManual != ''">
            and pro_code =  #{proCodeManual}
        </if>
        order by id desc
    </select>

    <select id="getMachineList" resultMap="MachineMap" parameterType="java.util.HashMap">
    SELECT
    id,
    wx_name,
    zpl_value,
    dpl_value,
    tkpl_value,
    xh_type,
    msl_value,
    DATE_FORMAT(build_time,'%Y-%m-%d %H:%i:%S') as buildTime,
    zzb_value,
    tzys_name,
    bm_type,
    ml_name,
    position_code,
    pro_code,
    user_no
    FROM
    wlsms_auto_machine
        where 1=1
        <if test="queryBt != null and queryBt != ''">
            and (wx_name like concat('%',#{queryBt},'%') or tzys_name like concat('%',#{queryBt},'%')  or pro_code like concat('%',#{queryBt},'%'))
        </if>
        <if test="startTime != null and startTime != ''">
            and DATE_FORMAT(build_time,'%Y-%m-%d') <![CDATA[ >= ]]>  DATE_FORMAT(#{startTime},'%Y-%m-%d')
        </if>
        <if test="endTime != null and endTime != ''">
            and DATE_FORMAT(build_time,'%Y-%m-%d') <![CDATA[ <= ]]> DATE_FORMAT(#{endTime},'%Y-%m-%d')
        </if>
        <if test="proCodeMachine != null and proCodeMachine != ''">
            and pro_code =  #{proCodeMachine}
        </if>
    order by id desc
    </select>

    <insert id="saveManual" parameterType="com.web.wlsms.entity.ManualModel">
        INSERT INTO wlsms_auto_manual
        (
            sxzfq_name,
            sxpl_value,
            bpqpl_value,
            zpl_value,
            xxpl_value,
            system_name,
            tzsl_value,
            xxsl_value,
            tzfs_name,
            xdbm_code,
            xzb_value,
            build_date,
            position_code,
            pro_code,
            user_no,
            create_time,
            edit_time
        )
        VALUES
        (
            #{sxzfqName},
            #{sxplValue},
            #{bpqplValue},
            #{zplValue},
            #{xxplValue},
            #{systemName},
            #{tzslValue},
            #{xxslValue},
            #{tzfsName},
            #{xdbmCode},
            #{xzbValue},
            #{buildDate},
            #{positionCode},
            #{proCode},
            #{userNo},
            now(),
            now()
        )
    </insert>

    <insert id="insertManual" parameterType="java.util.List">
        INSERT INTO wlsms_auto_manual (
        sxzfq_name,
        sxpl_value,
        bpqpl_value,
        zpl_value,
        xxpl_value,
        system_name,
        tzsl_value,
        xxsl_value,
        tzfs_name,
        xdbm_code,
        xzb_value,
        build_date,
        position_code,
        pro_code,
        user_no,
        create_time,
        edit_time
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.sxzfqName},
            #{item.sxplValue},
            #{item.bpqplValue},
            #{item.zplValue},
            #{item.xxplValue},
            #{item.systemName},
            #{item.tzslValue},
            #{item.xxslValue},
            #{item.tzfsName},
            #{item.xdbmCode},
            #{item.xzbValue},
            #{item.buildDate},
            #{item.positionCode},
            #{item.proCode},
            #{item.userNo},
            now(),
            now()
            )
        </foreach>
    </insert>


    <insert id="saveMachine" parameterType="com.web.wlsms.entity.MachineModel">
        INSERT INTO wlsms_auto_manual
        (
            wx_name,
            zpl_value,
            dpl_value,
            tkpl_value,
            xh_type,
            msl_value,
            zzb_value,
            tzys_name,
            bm_type,
            ml_name,
            build_time,
            position_code,
            pro_code,
            user_no,
            create_time,
            edit_time
        )
        VALUES
        (
            #{wxName},
            #{zplValue},
            #{dplValue},
            #{tkplValue},
            #{xhType},
            #{mslValue},
            #{zzbValue},
            #{tzysName},
            #{bmType},
            #{mlName},
            #{buildTime},
            #{positionCode},
            #{proCode},
            #{userNo},
            now(),
            now()
        )
    </insert>

    <insert id="insertMachine" parameterType="java.util.List">
        INSERT INTO wlsms_auto_machine (
        wx_name,
        zpl_value,
        dpl_value,
        tkpl_value,
        xh_type,
        msl_value,
        zzb_value,
        tzys_name,
        bm_type,
        ml_name,
        build_time,
        position_code,
        pro_code,
        user_no,
        create_time,
        edit_time
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.wxName},
            #{item.zplValue},
            #{item.dplValue},
            #{item.tkplValue},
            #{item.xhType},
            #{item.mslValue},
            #{item.zzbValue},
            #{item.tzysName},
            #{item.bmType},
            #{item.mlName},
            #{item.buildTime},
            #{item.positionCode},
            #{item.proCode},
            #{item.userNo},
            now(),
            now()
            )
        </foreach>
    </insert>

    <update id="updateManual" parameterType="com.web.wlsms.entity.ManualModel">
        update wlsms_auto_manual
        <set>
            sxzfq_name = #{sxzfqName},
            sxpl_value = #{sxplValue},
            bpqpl_value = #{bpqplValue},
            zpl_value = #{zplValue},
            xxpl_value = #{xxplValue},
            system_name = #{systemName},
            tzsl_value = #{tzslValue},
            xxsl_value = #{xxslValue},
            tzfs_name = #{tzfsName},
            xdbm_code = #{xdbmCode},
            xzb_value = #{xzbValue},
            edit_time = now()
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="deleteManual">
        delete from wlsms_auto_manual
        <where>
            id = #{id}
        </where>
    </delete>

    <delete id="deleteMachine">
        delete from wlsms_auto_machine
        <where>
            id = #{id}
        </where>
    </delete>


</mapper>