<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.wlsms.dao.MessageDao">
    <resultMap type="com.web.wlsms.entity.MessageEntity" id="messageMap">
        <id property="id" column="ID" javaType="long"/>
        <result property="userNo" column="user_no" javaType="String"/>
        <result property="buildTime" column="buildTime" javaType="String"/>
        <result property="title" column="title" javaType="String"/>
        <result property="content" column="content" javaType="String"/>
        <result property="feedbackContent" column="feedback_content" javaType="String"/>
        <result property="state" column="state" javaType="int"/>
        <result property="feedbackTime" column="feedbackTime" javaType="String"/>
        <result property="feedbackUser" column="feedback_user" javaType="String"/>
        <result property="operationType" column="operation_type" javaType="int"/>

    </resultMap>

    <select id="selectMessageList" resultMap="messageMap">
        select
            id,
           user_no,
           DATE_FORMAT(build_time,'%Y-%m-%d %H:%i:%S') as buildTime,
           title,
           content
        from admin_operation
        order by id desc
        limit 0,30
    </select>

    <select id="getOperationList" resultMap="messageMap">
        select
            id,
            user_no,
            DATE_FORMAT(build_time,'%Y-%m-%d %H:%i:%S') as buildTime,
            title,
            content,
            feedback_content,
            feedback_user,
            state,
            DATE_FORMAT(feedback_time,'%Y-%m-%d %H:%i:%S') as feedbackTime,
            operation_type
        from admin_operation
        where 1=1
        <if test="keyWord != null and keyWord != ''">
            and (content like concat('%',#{keyWord},'%') or title like concat('%',#{keyWord},'%') )
        </if>
        order by id desc
    </select>

    <!-- 添加操作日志信息 -->
    <insert id="insertMessage" parameterType="com.web.wlsms.entity.MessageEntity">
        INSERT INTO admin_operation
        (
            user_no,
            title,
            build_time,
            content,
            operation_type
        )
        VALUES
        (
            #{userNo},
            #{title},
            now(),
            #{content},
            #{operationType}
        )
    </insert>
</mapper>